:root {
    --parentColor: #ffffff;
    --parentColorHover: #fbfcff;
    --firstChildColor: #e4edfc;
    --secondChildColor: #c5dcfe;
    --thirdChildColor: #9dc4ff;
    --textColor: #dadde0;
    --tableTextColor: #727e8e;
    --backgroundColor: #2d3e50;
    --buttonColor: #f1f1f1;
}

.button {
    background-color: var(--buttonColor);
}

p {
    margin-left: 3%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* DataTable component */
.data-table {
    width: 100%;
}

.data-table_header {
    height: 3em;
}

.data-table_content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    border-bottom: 0 solid white;
}

.data-table_icon {
    color: var(--backgroundColor);
}

.data-table_icons {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.data-table_content_name {
    width: 45%;
}

.data-table_content_count {
    width: 20%;
}

.data-table_content_factCount {
    width: 25%;
}

th {
    background-color: var(--backgroundColor);
}